.header-transacoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-transacoes-titulo {
    font-size: 16px;
    font-weight: 600;
    color: #7FA1C3;
}

.lista-transacoes{
    width: 100%;
    
}

.header-lista-transacoes{
    display: flex;
    width: 100%;
    align-items: center;
}
.titulo-lista-transacoes{
    width: 45%;
    font-size: 12px;
    font-weight: 600;
    color: #BAB7B7;
    margin-top: 10px;
}
.titulo-lista-transacoes:nth-child(2){
    width: 25%;
    text-align: center;
}
.titulo-lista-transacoes:nth-child(3){
    width: 25%;
    text-align: right;
}


hr{
    opacity: 15%;
}