.header-container{
    background-color: #FFF;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    color: #6482AD;
    padding: 15px;
}

.header-saldo{ 
    border-bottom: 1px solid #EEE;
}

.header-saldo .saldo-titulo{
    font-size: 16px;
    font-weight: 600;
    color: #7FA1C3;
    margin-bottom: 15px;
}

.header-saldo .saldo-valor{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.header-receitas-despesas{
    display: flex;
    align-items: center;
}

.total-transacoes-container{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
}

.total-transacoes-container:first-child{
    border-right: 1px solid #EEE;
    margin-right: 15px;
}
.total-transacoes-icone{
    margin-right: 10px;
}

.total-transacoes-info{
    font-size: 14px;
    font-weight: 600;
}

.total-transacoes-titulo{
    color: #7FA1C3;
}

.receitas{
    color: #3EA61E;
}

.despesas{
    color: #EA3323;
}